[buildout]
develop = .
parts = test coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = z3c.traverser [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.traverser [test]
defaults = ['--coverage', '../../coverage', '--tests-pattern', '^f?tests$']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
